<nav>

  <h1><fa-icon [icon]="faAppleAlt" id="logo"></fa-icon>inCider</h1>
  <div id="navlinks">
    <a href="#Search" (click)="dropSearch()">Search</a>
    <a href="#Featured">Featured</a>
    <a href="#TopRated">Top Rated</a>
    <a href="#Login" id="login">Login</a>
  </div>
  <button id="matbutton" mat-button [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
 
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menuitem">Login</button>
    <button mat-menu-item class="menuitem">Top Rated</button>
    <button mat-menu-item class="menuitem">Featured</button>
    <!-- <button mat-menu-item class="menuitem">Theme</button> -->
    <button mat-menu-item class="menuitem" (click)="dropSearch()">
      Search
    </button>
    <!-- if logged in change to profile -->
  </mat-menu>
</nav>
<div id="searchbar" *ngIf="searchdrop === true">
  <button id="x" (click)="closeSearch()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  <input type="text" placeholder="Search" />
  <button id="mag" (click)="closeSearch()">
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</div>
