<nav>

  <h1 routerLink="/home" routerLinkActive="active"><fa-icon [icon]="faAppleAlt" id="logo"></fa-icon>inCider</h1>
  <div id="navlinks">
    <a href="#Search" (click)="dropSearch()">Search</a>
    <a routerLink="/first-component" routerLinkActive="active">Featured</a>
    <a href="#TopRated">Top Rated</a>
    <a routerLink="/signup-login" routerLinkActive="active">Login</a>
  </div>
  <button id="matbutton" mat-button [matMenuTriggerFor]="menu">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
<!--  
  <mat-drawer-container class="example-container" autosize> 
        <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  </mat-drawer-container> -->

  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menuitem">Login</button>
    <button mat-menu-item class="menuitem">Top Rated</button>
    <button mat-menu-item class="menuitem">Featured</button> -->
    <!-- <button mat-menu-item class="menuitem">Theme</button> -->
    <!-- <button mat-menu-item class="menuitem" (click)="dropSearch()">
      Search
    </button> -->
    <!-- if logged in change to profile -->
</mat-menu>
</nav>
<div id="searchbar" *ngIf="searchdrop === true">
  <button id="x" (click)="closeSearch()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
  <input type="text" placeholder="Search" />
  <button id="mag" (click)="closeSearch()">
    <fa-icon [icon]="faSearch"></fa-icon>
  </button>
</div>
