* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  background-color: rgba(38, 53, 50, 0.8);
  height: 100vh;
  position: relative;
}

.main-container::before {
  content: '';
  background: url('../utilities/images/pexels-amanda-klamrowski-1400255.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.form-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* height: auto; */
  min-height: 60%;
  width: 70%;
  /* border: 3px solid grey; */
  border-radius: 10px;
  margin: 0 auto;
  top: 100px;
}

form {
  /* border-radius: 10px; */
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 70%; */
  /* min-height: 40%; */
  /* margin: 0 auto; */
  /* border: 3px solid grey; */
  padding: 0 3.5rem;
  width: 50%;
  left: 50%;
  height: 100%;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.overlay-panel {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  background-color: rgb(156, 202, 191);
  text-align: center;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  width: auto;
  position: relative;
  margin-bottom: 1em;
}

h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
}

p {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  margin: 50px 0 ;
}

input {
  margin-bottom: 1.5em;
  border: 1px solid transparent;
  border-radius: 30px;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: rgb(195, 219, 213);
  color: rgb(116, 116, 116);
  transition: background-color 0.5s ease;
}

input:focus {
  outline: none;
  background-color: rgb(214, 214, 214);
}

.switch-form {
  margin-top: 1em;
}

.switch-btn {
  color: rgb(202, 74, 102);
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 700;
}

button {
  letter-spacing: 1.3px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 3px 15px;
}

button.ghost {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 1.3em;
}

@media only screen and (min-width: 768px) {

}


